services:
  app:
    container_name: icombus
    expose:
      - "3000"
    environment:
      - NODE_ENV=production
    restart: unless-stopped
    command: [ "/bin/sh", "-c", "npm run build && npm start" ]
    networks:
      - npm_default

networks:
  npm_default:
    external: true
