services:
  app:
    container_name: icombus
    image: ghcr.io/richardd-f/icombus-2026:latest
    expose:
      - "3000"
    environment:
      - NODE_ENV=production
    restart: unless-stopped
    networks:
      - npm_default

networks:
  npm_default:
    external: true
